header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
    background: linear-gradient(90deg, #014572, #2485ac);
    border: none;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logoL{
    width: 50px;
    height: 50px;
    font-size: 3rem;
}
.logoT2{
    color: aqua;
}
.logoT{
    font-size: 2rem;
    transform: translateY(50%);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4e4a4a;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5 rem;
    font-weight: 700;
    transition: all 0.3s ease;
}
nav a:hover {
    color: aqua;
}

.search-container {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}
.search-box {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: none;
    box-shadow: #49beec;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    background-color: #2d2d2d;
}
.search-box:focus {
    outline: none;
    box-shadow: 0 0 0 2px aqua;
}