header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
    background: linear-gradient(90deg, #014572, #2485ac);
    border: none;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logoL{
    width: 50px;
    height: 50px;
    font-size: 3rem;
}
.logoT2{
    color: aqua;
}
.logoT{
    font-size: 2rem;
    transform: translateY(50%);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4e4a4a;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5 rem;
    font-weight: 700;
    transition: all 0.3s ease;
}
nav a:hover {
    color: aqua;
}

.search-container {
    position: relative;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}
.search-box {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: none;
    box-shadow: #49beec;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    background-color: #2d2d2d;
}
.search-box:focus {
    outline: none;
    box-shadow: 0 0 0 2px aqua;
}

.search-icon{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(1, 168, 168);
    cursor: pointer;
    font-size: 2rem;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.featured-section {
    margin-bottom: 3rem;
}
.featured-movie {
    position: relative;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.featured-backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem 2rem 2rem;
    background: linear-gradient(to top,rgba(0 0 0 0.9), transparent);
}
.featured-title {
    max-width: 700px;
    margin-bottom: 1rem;
}
.featured-description {
    max-width: 700px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
}
.featured-actions {
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 50px;
    font-weight: 600px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-primary {
    background-color: #1797ec;
    color: white;
    margin-right: 1rem;
    box-sizing: border-box;
}
.btn-secondary {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 2px solid white;
}
.btn-primary:hover {
    background-color: #0f6db8;
    transform: translateY(-2px);
}
.btn-secondary:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.5);
}
.category-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #1797ec;

}